.slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 이미지 */
    gap: 10px; /* 이미지 사이의 간격 조절 */
    max-width: 60%;
    margin: 0 auto;
    position: relative; /* 슬라이드를 부모 요소를 기준으로 배치하기 위해 */
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slider img {
    width: 100%;
}

.title {
    font-size: 30px;
}

.image-container {
    width: 100%; /* 원하는 너비로 설정 */
    /* height: 100px; 원하는 높이로 설정 */
}

.gif-container {
    width: 20%; /* GIF의 원하는 너비로 설정 */
     /* GIF를 오른쪽으로 정렬 */
}

.gif-container img {
    width: 100%;
}

.typed-container{
    width: 70%;
    display: flex;
    margin-left: 20%; /* 가운데 정렬하는 부분 */        
     
    line-height: 200px; /* 텍스트를 수직 가운데 정렬하기 위해 추가 */
}